<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error { border-color: red; background-color: #fee ; }
    </style>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script
      src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center alert-secondary">
                    Записная книжка
                </h2>
            </div>
            <div class="col-2">
                <a class="btn btn-sm btn-primary"
                asp-action="Logout" asp-controller="Account">Log Out</a>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
